.blogcardFlex-section{
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
    overflow-x: auto;
    /* border: 1px solid red; */

}

.blogcardFlex-div{
    /* border: 1px solid red; */
    display: flex;
    width: 20vw;
    height: 25vw;
    /* overflow-x: hidden; */
    margin-right: 2vw;
    border-radius: 10px;
    margin-bottom: 3vw;

}

.blogcardFlex-div img{
    width: 20vw;
    height: 25vw;
    border-radius: 10px;
}